.slds-border_around{
   
    /* line-height: 35px; */
    padding: 5px 10px;
    
}
.align_center{
    align-items: center;
}
.font_bold{
    font-weight:700;
}
.font_18{
    font-size:18px;
}
.red{
    background: #fff !important;
    border-top:1px solid #fff !important;
    border-bottom:1px solid #fff !important;
    /* border-top:1px solid #e5e5e5 !important;
    border-bottom:1px solid #e5e5e5 !important; */
}
.red2{
    background: #f3f3f3 !important;
    border-top:1px solid #e5e5e5 !important;
    border-bottom:1px solid #e5e5e5 !important;
    
}
.clrChangeShade2{
    /* background: #f3f3f3; */
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
}
.min_heiggt_44{
    min-height:44px;
}
.clrChangeShade{
    background: #f3f3f3;
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
}
.font_500{
    font-weight:500;
}

.dropLists{
    display:flex;
    gap:5px;   
}
.dropLists:hover{
    background: #ecf4fe;
    cursor: pointer;
}
.drop_ul{
    box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
    border:1px solid #ddd;
    border-radius:4px;
}
ul.drop_ul {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15003 !important;
    height: fit-content;
    background: #fff;
    width: 100%;
}