.headerSearch{
    display: flex;
    gap: 14px;
    align-items: center;
}
.addto{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}
.d_none{
    display:none;
}
.back_grey{
    border: 1px solid #dddd;
    background: #f3f3f3;
}
/* .hovLink:hover{
    color:#0176d7;
} */
.slds-modal{
    z-index:101;
}
.slds-backdrop{
    z-index: 100;
    height: 95vh !important;
}
.cur_point{
    cursor: pointer;
}
.displaydiv{
    display: block;
}
.hidediv{
    display: none;
}