.THIS .fieldchosen {
    margin-top:0em;
    min-width: 100%;
}
.THIS .fieldchooser {
    margin-top:-0.5em;
    margin-left:0.5em;
}
.THIS .fieldchooserSdg {
    margin-top:-1.5em;
    margin-left:0.5em;
}