.description_height{
    height: 220px;
}
.truncate_li{
    display: -webkit-box;
    /* -webkit-line-clamp: 6; */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 115px;
}
.break_two_line{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description_li{
    max-height: 117px;
    overflow-y: auto;
}
.multiline_truncate{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}
.help_txt{
    padding-left: 4px;
    position: relative;
    top: -2px;
}
@media (max-width: 1512px) {
    .description_height{
        height: 260px;
    }
}